################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Versicherung-Frontend/FileContentIndex/b77c6d07-9175-4a91-85dd-b6e8067df5f1.vsidx
/.vs/Versicherung-Frontend/FileContentIndex/2f5a4d3f-4f9e-4126-ab14-998cb24423d5.vsidx
/.vs/Versicherung-Frontend/FileContentIndex/41aaf701-1ece-4352-bc68-5bd87f5f394f.vsidx
/.vs/Versicherung-Frontend/FileContentIndex/98a3e4a7-4a47-4a8f-a509-f9dea42d25ef.vsidx
/.vs/Versicherung-Frontend/FileContentIndex/b34052b3-0da4-4397-accf-f815de96261c.vsidx
/.vs/Versicherung-Frontend/FileContentIndex/baf5cb62-4d82-4634-9fdf-b21e852a8836.vsidx
/.vs/Versicherung-Frontend/FileContentIndex/c0b35b76-2973-496b-984a-0798e64b2de6.vsidx
/.vs/Versicherung-Frontend/FileContentIndex
